body {
    padding: 0;
    margin: 0;
}
h1 {
    position: absolute;
    top: 10px;
    width: 100%;
    text-align: center;
    z-index: 100;
    display:block;
    color: #00ff00;
    margin: 0;
    padding: 0;
    -webkit-text-stroke: 0.5px black;
}

#back {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 100;
    display:block;
    color: #00ff00;
    -webkit-text-stroke: 0.5px black;
}

#credit {
    position: absolute;
    bottom: 10px;
    width: 100%;
    left: auto;
    right: auto;
    z-index: 100;
    color: #00ff00;
    -webkit-text-stroke: 0.5px black;
}